/*
 * Basic css for the commerce_reservations module.
 */
 
#selected-product{
	border: 1px solid red;
}

.not-available{
	color: red;
} 

.view-id-reservation_calendar{
	line-height: 1.0;
}

.view-id-reservation_calendar .fc-select-helper{
	background-color: green;
}
